<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5841060-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5841060-5');
</script>

<footer>
  <h2><a href="/" title="ホーム"><img src="/assets/images/footer_logo.png" alt="About LinkedData.jp"/></a></h2>
  <p>Copyright <a href="http://linkedopendata.jp">Linked Open Data Initiative</a></p>
  <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"/></a> <a href="http://richard.cyganiak.de/2007/10/lod/">The Linking Open Data dataset cloud</a> was originally created by <a href="http://linkeddata.org/">LinkedData.org</a>.</p>
</footer>
